OTEL_SERVICE_NAME=noctis-api
OTEL_SERVICE_VERSION=1.0.0

OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=<url>
OTEL_EXPORTER_OTLP_HEADERS=signoz-ingestion-key=<key>

NODE_ENV=<env>

OTEL_RESOURCE_ATTRIBUTES=<name>
POSTGRES_USER=postgres
POSTGRES_PASSWORD=example_password
POSTGRES_DB=noctis-db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
API_KEY=apikey
ALLOWED_IP=127.0.0.0
SESSION_NAME=session
