services:
  noctis-api:
    build: .
    ports:
      - 3000:3000
    command: "sleep infinity"
    depends_on:
      noctis-db:
        condition: service_healthy
    volumes:
      - ..:/workspace:cached

  noctis-db:
    image: postgres:16
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example_password
      POSTGRES_DB: noctis-db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
